header{
    img{
        width: 100%;
    }
}
.contenedor-inicio{
    @include flex(row,space-around,center,nowrap);
    background-color: $secondarycolor;
    width: 80vw;
    height: auto;
    margin: 1% auto;
    padding: 5%;
    div{
        p{
            margin-top: 22px;  
        }
    }    
}

.card-grupo{
    gap: 2%
}

.card{
    @include flex(row,space-between,center,nowrap);
}

.destacado{
    margin: 1% 10% 5% 10%;
}
    
@media (max-width: 480px){
    .contenedor-inicio{
        @include flex(column,space-between,center,nowrap);
        div{
            p{
                margin-top: 22px;  
            }
        }    
        div{
            div{
                display: none;
            }
            
        }
    }
    
}