.grid{
    display: grid;
}

.tienda{
    margin: 2% 7% 9% 7%;
    display: grid;
    grid-template-columns: 13% repeat(4,1fr);
    grid-template-rows: 2% repeat(3,32%);
    gap: 2%;
    grid-template-areas: 
    "inicio actions actions actions actions"
    "filtros uno dos tres cuatro"
    "filtros cinco seis siete ocho"
    "filtros nueve diez once doce";
    .inicio{
        grid-area: inicio;
        @include flex(row, flex-start, flex-start, nowrap);
        font-size: $textmd;
        a{
            color: $maincolor;
            text-decoration: none;
        }
    }
    .actions{
        grid-area: actions;
        @include flex(row, flex-end, flex-start, nowrap);
        font-size: $textmd;
    }
    .filtros{
        grid-area: filtros;
        @include flex(column, flex-start, flex-start, nowrap);
        position: sticky;
        line-height: 25px;
        a{
            color: $maincolor;
            font-size: $textmd;
            text-decoration: none;
            &:hover{
                color: $othercolor;
            }
        } 
        span{
            font-size: $textmd;
            display: block;
            margin-top: 15px;
            margin-bottom: 10px; 
        }
    } 
    .prod1{
        grid-area:uno;
    }
    .prod2{
        grid-area:dos;
    }
    .prod3{
        grid-area:tres;
    }
    .prod4{
        grid-area:cuatro;
    }
    .prod5{
        grid-area:cinco;
      
    }
    .prod6{
        grid-area:seis;
    }
    .prod7{
        grid-area:siete;
    }
    .prod8{
        grid-area:ocho;
    }
    .prod9{
        grid-area:nueve;
    }
    .prod10{
        grid-area:diez;
    }
    .prod11{
        grid-area:once;
    }
    .prod12{
        grid-area:doce;
    }
}

//media queries

@media (max-width:1286px){
    .tienda{
        margin: 2% 3% 9% 3%;
    }
}

@media (max-width: 1200px){
    .tienda{
        grid-template-columns: 16% repeat(3,1fr);
        grid-template-rows: 2% repeat(4,24%);
        gap: 1%;
        grid-template-areas: 
        "inicio actions actions actions"
        "filtros uno dos tres"
        "filtros cuatro cinco seis"
        "filtros siete ocho nueve" 
        "filtros diez once doce";
    }
}

@media (max-width: 992px){
    .tienda{
        margin: 3% 5% 5% 5%;
        grid-template-columns: 21% repeat(2,1fr);
        grid-template-rows: 0.1% repeat(6,15%);
        gap: 1%;
        grid-template-areas: 
        "inicio actions actions"
        "filtros uno dos"
        "filtros tres cuatro" 
        "filtros cinco seis"
        "filtros siete ocho" 
        "filtros nueve diez"
        "filtros once doce";
    }
}

@media (max-width: 768px){
    .tienda{
        margin: 3% 1% 9% 4%;
        grid-template-columns: 26% 64%;
        grid-template-rows: 0.1% repeat(13,8%);
        gap: 1%;
        grid-template-areas: 
        "inicio actions"
        "filtros uno"
        "filtros dos" 
        "filtros tres"
        "filtros cuatro" 
        "filtros cinco"
        "filtros seis"
        "filtros siete"
        "filtros ocho"
        "filtros nueve"
        "filtros diez"
        "filtros once"
        "filtros doce";
    }
}

@media (max-width: 576px){
    .tienda{
        margin: 5% 10% 9% 10%;
        grid-template-columns: 0% 100%;
        grid-template-rows: 0.1% repeat(13,8%);
        gap: 1%;
        grid-template-areas: 
        "inicio actions"
        "filtros uno"
        "filtros dos" 
        "filtros tres"
        "filtros cuatro" 
        "filtros cinco"
        "filtros seis"
        "filtros siete"
        "filtros ocho"
        "filtros nueve"
        "filtros diez"
        "filtros once"
        "filtros doce";
        .inicio{
            display: none;
        }
        .actions{
            font-size: $textsm;
        }
        .filtros{
            display: none;
        }
    }
}
//no pude identificar porque las cards me quedaron mas abajo que el footer :/