//variables globales

//colors
$maincolor:black;
$secondarycolor: white;
$othercolor: grey;

//fonts
$mainfont:'Montserrat', sans-serif;

//sizing
$textsm:.8em;
$textmd:1em;
$textlg:1.2em;
$textxl:1.4em;
$textxxl:1.8em;

//font weight
$fontlight:300;
$fontregular:400